Vagrant.configure(2) do |config|
    if Vagrant.has_plugin?("vagrant-vbguest")
        config.vbguest.auto_update = false
    end
    config.vm.provider :virtualbox do |vb|
        # Set the vboxnet interface to promiscous mode so that the docker veth
        # interfaces are reachable from HOST Machine
        vb.gui = false
        vb.cpus = 2

        vb.customize ["modifyvm", :id, "--nicpromisc2", "allow-all"]
        # Otherwise we get really slow DNS lookup on OSX (Changed DNS inside the machine)
        vb.customize ["modifyvm", :id, "--natdnsproxy1", "on"]
        vb.default_nic_type = "virtio"
        vb.customize ["modifyvm", :id, "--nictype1", "virtio" ]
        vb.customize ["modifyvm", :id, "--nictype2", "virtio" ]
    end
end
